@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}


@font-face {
    font-family: Helvetica-Bold;
    src: url(../fonts/Helvetica-Bold.ttf);
}




@font-face {
    font-family: Helvetica-Light;
    src: url(../fonts/Helvetica-Light.ttf);
}



.float-left{
	float:left;
}


body{
	background: #00A551;
height: 100vh;
overflow:hidden;
}

.absolute-cont{
	position:Absolute;
	top:0;
	bottom:0;
	left:0;
	right: 0;
	margin:auto;
}


div.row>.container-fluid img{
	width: 525px;
    margin-top: 20px;
}

h1{
	font-size:7rem;
	color:white;
	font-family: GothamBold;
	letter-spacing: 3px;
}

.content-row{
	margin-top: 79px;
}


h1>img{
    width: 63px;
    margin-top: -8px;
}



ul.flex{ 
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: fit-content;
	padding:0;
 }

 ul.flex li{
 	list-style: none;
 }


 .content-row ul.flex li{ 
	  list-style: none;
    font-size: 4rem;
    margin-left: 37px;
    margin-right: 62px; 
    font-family: Helvetica-Light;
   
    
 }


.content-row ul.flex li .nro{ 
    padding: 13px 62px;
    color: white;
    font-size: 175pt;
    font-family: GothamBold;

    
 }

.content-row ul.flex li .operacion{
	border-radius: 36px; 
    background: white;
    padding: 13px 62px;
     padding: 13px 62px;
      color:#00A551;
    /*  max-width: 450px;*/
    font-size: 36px;
    font-family: GothamBold;

    
 }


  ul.flex li:nth-child(1){ 
	margin-left:0;
 }


 ul.flex li>b{
 	font-family: Helvetica-Bold;
 }

 footer{
 	    background: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px 0 10px 0;

 }

 footer h2, footer i{

 background: -webkit-linear-gradient(#00b157, #00A551);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: GothamBook;

 }






 footer ul li h2{
    font-size: 3.4rem;
 	margin:0;
 	padding:10px 0 10px 0;
 }


footer ul{
	width:80%;
}

 footer ul li:nth-child(1) h2{
 	font-family: GothamBold;
 	float: right;
 }



 footer ul li:nth-child(2){
    width: 85px;


 }


 footer ul li:nth-child(3) h2:nth-child(2){
 	margin-left: 35px;
 }