.bk-green {
  background: #05ab05 !important;
  border: none !important;
}

.bk-green:hover {
  background: #048804 !important;
  border: none !important;
  transition: all 0.1s ease-in-out;
}

body.main {
  overflow-y: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

iframe {
  overflow-y: scroll;
}

h1,
h2,
h4 {
  font-family: RobotoBold;
}

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h1 {
  margin-top: 0;
}

.file-result {
  color: black;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

#content {
  margin-top: 45px;
}

#content h1 {
  font-size: 32px;
}

#especialidades,
#especialidadesExistentes {
  margin-top: 45px;
}

ul.flex,
#especialidadesExistentes ul.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  padding: 0;
}

a {
  cursor: pointer;
}

ul.flex li {
  float: left;
  list-style: none;
}

a h3 {
  margin: 0;
}

ul#file-input-cont li,
ul#file-input-cont li {
  margin-left: 36px;
  margin-top: 15px;
  margin-bottom: 37px;
}

#especialidades ul.flex li select,
#especialidadesExistentes ul.flex li select {
  width: 173px !important;
}

.side-bar h1 {
  font-size: 32px !important;
}

.full-btn {
  padding: 6px 0px;
  color: white;
  font-size: 23px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin-top: 17px;
}

.confirm-alert-bk {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 6;
}

.confirm-alert-bk .panel {
  position: Absolute;
  width: 454px;
  height: 190px;
  background: white;
  left: 0;
  right: 0;
  top: -150px;
  bottom: 0;
  margin: auto;
  padding: 55px 0px;
  text-align: center;
  /* padding-top: 4px; */
}

.confirm-alert-bk .panel .form-btn {
  margin: 0;
  margin-top: 37px;
}

.confirm-alert-bk .panel a h2 {
  color: white;
  font-family: GothamBold;
}

.confirm-alert-bk .panel a h2,
.confirm-alert-bk .panel h2 {
  margin: 0;
  font-family: GothamBold;
}

.remove-locacion-btn {
  background: #e20707;
}

.remove-locacion-btn:hover {
  background: #c70707;
  color: #e0e0e0;
  box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
}

.add-locacion-btn {
  background: #4fb91a;
}

.add-locacion-btn:hover {
  background: #3f9415;
  color: #e0e0e0;
  box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
}

.save-locacion-btn {
  background: #56baed;
}

.save-locacion-btn:hover {
  background: #39ace7;
  box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
}

.remove-establecimiento-btn {
  background: #3a3a3a;
}

.remove-establecimiento-btn:hover {
  background: black;
  color: #e0e0e0;
  box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.blue {
  background: #39ace7;
}

.red {
  background: #c70707;
}

.small-btn {
  color: white;
  width: 70px;
  padding: 5px;
  text-align: center;
  border-radius: 8px;
  font-size: 21px;
  margin-top: 17px;
  transition: all 0.15s ease-in-out;
}

.small-btn:hover {
  box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

div#buttons {
  margin: 22px 0px;
  text-align: center;
}

.margin-left-5 {
  margin-left: 5%;
}

.padding-0 {
  padding: 0;
}

.closeSession {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 23pt;
  color: #b7b7b7;
  z-index: 6;
}

.closeSession a {
  cursor: pointer;
  font-size: 23pt;
  color: #b7b7b7;
  transition: all 0.75s ease-in-out;
}

.closeSession a:hover {
  color: #39ace7;
}

iframe:not(#videoObject) {
  width: 100%;
  height: 100vh;
}

.side-bar div h1 a {
  color: #0000004d;
  transition: all 0.75s ease-in-out;
}

.side-bar div h1 a:hover {
  color: #39ace7;
  text-decoration: none;
}

.side-bar {
  height: 100vh;
  padding-left: 5%;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  position: relative;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 5;
}

.side-bar div {
  height: 50vh;
  /* border-top: 1px solid grey; */
  border-bottom: 1px solid grey;
  position: relative;
}

.side-bar div h1 {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 30%;
}

.pageContent {
  height: 100vh;
  float: left;
  background: transparent;
}

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.formContent {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

/*#login{display:none;}/*/

#login img.logo {
  margin-top: 15px;
  margin-bottom: 15px;
}

#login form a.form-btn {
  margin-top: 15px;
}

.div-btn {
  transition: all 0.3s ease-in-out;
}

.div-btn:hover {
  background-color: #56baed;
}

.div-btn:hover .side-bar-btn {
  color: white;
}

.locacion {
  margin-top: 45px;
  border: 1px solid #e8e8e8;
  padding: 28px;
  border-radius: 7px;
}

.gm-search-input {
  background-color: white !important;
  padding: 6px !important;
}

.form-control {
  width: 100% !important;
}

.btn-file {
  position: relative;
  cursor: pointer;
}

.li-file-input span {
  width: 100%;
}

#file-input-cont li {
  width: 276px;
}

/* FORM TYPOGRAPHY*/

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
  width: 100%;
  height: 100%;
}

input[type=button],
input[type=submit],
input[type=reset],
a.form-btn {
  cursor: pointer;
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
a.form-btn:hover {
  background-color: #39ace7;
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active,
a.form-btn:active {
  transform: scale(0.95);
}

input[type=text],
input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  transition: all 0.5s ease-in-out;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder,
input[type=password]:placeholder {
  color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */

.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #989898;
  text-decoration: none;
}

.underlineHover:hover:after {
  width: 100%;
}

/* OTHERS */

*:focus {
  outline: none;
}

#icon {
  width: 60%;
}

/************FORMULARIO*****************/

.error {
  display: none;
  margin: 10px 11px;
  color: red;
  font-family: RobotoBold;
  width: 100%;
}

.container-drop {
  margin: 0 auto;
  width: 50%;
}

.content-drop {
  padding: 5px;
  margin: 0 auto;
}

.content-drop span {
  width: 250px;
}

.dz-message {
  text-align: center;
  font-size: 28px;
}

.side-bar {
  padding: 0 !important;
}

.side-bar ul {
  padding: 0;
}

.side-bar ul li {
  list-style: none;
  /* padding: 0px 10px 0px 10px; */
  padding-bottom: 69px;
  font-size: 25px;
  text-align: center;
  border-bottom: 2px solid #d6d6d6;
  position: relative;
}

.side-bar ul li:hover {
  background: black;
}

.side-bar ul li a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.img-presentacion-input-cont {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.img-bkground {
  width: 200px;
  height: 200px;
  background-position: center;
  background-attachment: local;
  background-size: inherit;
}

button > h3 {
  margin: 0;
}

#proyectos #presentacion .flex li,
#testimonios #presentacion .flex li,
#novedades #presentacion .flex li {
  width: 300px;
}

#proyectos .li-file-input span,
#proyectos .img-exist span,
#proyectos #preview-presentacion span,
#testimonios .li-file-input span,
#testimonios .img-exist span,
#testimonios #preview-presentacion span,
#novedades .li-file-input span,
#novedades .img-exist span,
#novedades #preview-presentacion span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#proyectos .li-file-input .removeBtn,
#proyectos .img-exist .removeBtn,
#proyectos #preview-presentacion .removeBtn,
#testimonios .li-file-input .removeBtn,
#testimonios .img-exist .removeBtn,
#testimonios #preview-presentacion .removeBtn,
#novedades .li-file-input .removeBtn,
#novedades .img-exist .removeBtn,
#novedades #preview-presentacion .removeBtn {
  display: flex;
  justify-content: flex-end;
  margin-right: 2px;
}

#proyectos .li-file-input .file-result span,
#proyectos #file-result-presentacion span,
#testimonios .li-file-input .file-result span,
#testimonios #file-result-presentacion span,
#novedades .li-file-input .file-result span,
#novedades #file-result-presentacion span {
  bottom: -20px;
  top: 151px;
}

#proyectos .preview,
#testimonios .preview,
#novedades .preview {
  height: 150px;
  min-width: 200px;
  width: 100%;
  background-position: center !important;
  position: relative;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#preview-presentacion {
  width: 219px !important;
}

/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */

@-webkit-keyframes passing-through {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  30%, 70% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

@keyframes passing-through {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  30%, 70% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  30% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  30% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.1);
  }

  20% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.1);
  }

  20% {
    transform: scale(1);
  }
}

.dropzone,
.dropzone * {
  box-sizing: border-box;
}

.dropzone {
  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
  padding: 20px 20px;
}

.dropzone.dz-clickable {
  cursor: pointer;
}

.dropzone.dz-clickable * {
  cursor: default;
}

.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message * {
  cursor: pointer;
}

.dropzone.dz-started .dz-message {
  display: none;
}

.dropzone.dz-drag-hover {
  border-style: solid;
}

.dropzone.dz-drag-hover .dz-message {
  opacity: 0.5;
}

.dropzone .dz-message {
  text-align: center;
  margin: 2em 0;
}

.dropzone .dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 16px;
  min-height: 100px;
}

.dropzone .dz-preview:hover {
  z-index: 1000;
}

.dropzone .dz-preview:hover .dz-details {
  opacity: 1;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
  border-radius: 20px;
  background: #999;
  background: linear-gradient(to bottom, #eee, #ddd);
}

.dropzone .dz-preview.dz-file-preview .dz-details {
  opacity: 1;
}

.dropzone .dz-preview.dz-image-preview {
  background: white;
}

.dropzone .dz-preview.dz-image-preview .dz-details {
  transition: opacity 0.2s linear;
}

.dropzone .dz-preview .dz-remove {
  font-size: 14px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
}

.dropzone .dz-preview .dz-remove:hover {
  text-decoration: underline;
}

.dropzone .dz-preview:hover .dz-details {
  opacity: 1;
}

.dropzone .dz-preview .dz-details {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  padding: 2em 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  line-height: 150%;
}

.dropzone .dz-preview .dz-details .dz-size {
  margin-bottom: 1em;
  font-size: 16px;
}

.dropzone .dz-preview .dz-details .dz-filename {
  white-space: nowrap;
}

.dropzone .dz-preview .dz-details .dz-filename:hover span {
  border: 1px solid rgba(200, 200, 200, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
}

.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
  border: 1px solid transparent;
}

.dropzone .dz-preview .dz-details .dz-filename span,
.dropzone .dz-preview .dz-details .dz-size span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  border-radius: 3px;
}

.dropzone .dz-preview:hover .dz-image img {
  transform: scale(1.05, 1.05);
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

.dropzone .dz-preview .dz-image {
  border-radius: 20px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
  z-index: 10;
}

.dropzone .dz-preview .dz-image img {
  display: block;
}

.dropzone .dz-preview.dz-success .dz-success-mark {
  -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}

.dropzone .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
}

.dropzone .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark {
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -27px;
}

.dropzone .dz-preview .dz-success-mark svg,
.dropzone .dz-preview .dz-error-mark svg {
  display: block;
  width: 54px;
  height: 54px;
}

.dropzone .dz-preview.dz-processing .dz-progress {
  opacity: 1;
  transition: all 0.2s linear;
}

.dropzone .dz-preview.dz-complete .dz-progress {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.dropzone .dz-preview:not(.dz-processing) .dz-progress {
  -webkit-animation: pulse 6s ease infinite;
  animation: pulse 6s ease infinite;
}

.dropzone .dz-preview .dz-progress {
  opacity: 1;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  width: 80px;
  margin-left: -40px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: scale(1);
  border-radius: 8px;
  overflow: hidden;
}

.dropzone .dz-preview .dz-progress .dz-upload {
  background: #333;
  background: linear-gradient(to bottom, #666, #444);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  transition: width 300ms ease-in-out;
}

.dropzone .dz-preview.dz-error .dz-error-message {
  display: block;
}

.dropzone .dz-preview.dz-error:hover .dz-error-message {
  opacity: 1;
  pointer-events: auto;
}

.dropzone .dz-preview .dz-error-message {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  display: block;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  font-size: 13px;
  top: 130px;
  left: -10px;
  width: 140px;
  background: #be2626;
  background: linear-gradient(to bottom, #be2626, #a92222);
  padding: 0.5em 1.2em;
  color: white;
}

.dropzone .dz-preview .dz-error-message:after {
  content: "";
  position: absolute;
  top: -6px;
  left: 64px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #be2626;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.content {
  padding: 5px;
  margin: 0 auto;
}

.content span {
  width: 250px;
}

.dz-message {
  text-align: center;
  font-size: 28px;
}

